<section class="flex flex-col h-screen" x-data="{ open: true }">
  <div class="flex h-full">
    <div id="panel" class="bg-black/40 h-full w-64 pt-12">
        <button @click="open = true" x-bind:class="open ? 'bg-black/30 pr-8 h-12 mt-2 flex items-center justify-center gap-8 hover:bg-black/30 w-full' : 'pr-8 h-12 mt-2 flex items-center justify-center gap-8 hover:bg-black/30 w-full'">
          <%= image_tag "users.svg", id: "users-icon" %>
          Users
        </button>
        <button @click="open = false" x-bind:class="!open ? 'bg-black/30 pr-8 h-12 mt-2 flex items-center justify-center gap-8 hover:bg-black/30 w-full' : 'pr-8 h-12 mt-2 flex items-center justify-center gap-8 hover:bg-black/30 w-full'">
          <%= image_tag "trend.svg", id: "trend-icon" %>
          Trends
        </button>
    </div>
    <div class="flex-1 flex overflow-hidden">
      <div class="flex-1 overflow-y-scroll">
        <div x-show="open">
          <%= render 'partials/users' %>
        </div>
        <div x-show="!open">
          <%= render 'partials/trends' %>
        </div>
      </div>
    </div>
  </div>
</section>
