Users who are interested in the Topic
<%= @trend.keyword %>
<% @users.each do |user| %>
  <div>
    <span class=""><%= user.id %></span>
    <span class=""><%= user.username %></span>
  </div>
<% end %>
