<section class="flex justify-center">
  <div class="flex flex-col h-[200px] justify-center">
    <p class="font-bold text-lg">
      <%= @trend.keyword %>
    </p>
    <br>
    <p class="text-gray-100">Hehe! 🤭 I also don't know. Please
      <a href="https://www.google.com" class="underline">Google</a>
      it
    </p>
  </div>
</section>
